.titelStyle {
  /* color: rgb(255, 204, 0); */
  font-size: x-large;
  /* text-shadow: 5px 5px 5px black; */
  /* -webkit-text-fill-color: rgb(255, 204, 0); */
  /* -webkit-text-stroke: 0.5px rgb(192, 117, 4); */
}

.titelCatchPrs {
  font-size: 45px;
  /* color: rgb(255, 204, 0); */
  text-shadow: 5px 5px 5px rgb(255, 204, 0);
}

.headingOfCont {
  margin: 0px 0px 0px 20px;
}

.infoTxt {
  font-size: x-large;
  margin: 20px 0px 0px 20px;
}

.inputFldArea {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

#userNameInputFld {
  width: 90%;
}

#pswrdInputFld {
  width: 90%;
}

.infoTxtforRegis {
  font-size: x-large;
  margin: 0px 0px 15px;
}

.catchPrsRegis {
  font-size: 35px;
  /* color: rgb(255, 204, 0); */
  text-shadow: 5px 5px 5px rgb(255, 204, 0);
}

.registerTgl:hover {
  color: brown;
  cursor: pointer;
}
